<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <!--<pattern>%d{yyyy-MM-dd HH:mm} %5p %logger{40} - %msg%n </pattern>-->
            <pattern>%5p %logger{40} - %msg%n </pattern>
        </layout>
    </appender>

    <root level="info">
        <appender-ref ref="Console" />
    </root>

</configuration>