html,
body {
    overflow-x: hidden;
}

body {
    padding-top: 10px;
}

footer {
    padding: 30px 0;
}

.navbar-brand {
    font-size: 24px;
}

.navbar-container {
    padding: 0px 0, 0px 0;
}

.navbar.navbar-fixed-top.fixed-theme {
    background-color: #000;
    border-color: #080808;
    box-shadow: 0 0 5px rgba(0,0,0,.8);
}

.navbar-brand.fixed-theme {
    font-size: 18px;
}

.navbar-container.fixed-theme {
    padding: 0;
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container{
    transition: 0.8s;
    -webkit-transition:  0.8s;
}

label, input { display:block; }
input.text { margin-bottom:12px; width:95%; padding: .4em; }
fieldset { padding:0; border:0; margin-top:25px; }
h1 { font-size: 1.2em; margin: .6em 0; }
.ui-dialog .ui-state-error { padding: .3em; }

.ui-dialog-titlebar-close {
    visibility: hidden;
}

table {
    margin: auto;
}

#zuzycieTable > tbody > tr > th, #zuzycieTable > tr > td {
    border: 1px solid black;
    text-align: center;
}

#zuzycieTable > tr > td:nth-child(2) {
    padding-left: 15px;
    padding-right: 15px;
}

#raportTable > tbody > tr  {
    text-align: center;
}

#stanyTable > tbody > tr > td:nth-child(3){
    display:flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#stanyTable > tbody > tr > td:nth-child(4){
    text-align: center;
}

#saveButtonDiv {
    text-align: right;
}