<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title>Ewi</title>

    <head>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link href="/css/index.css" rel="stylesheet">
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
        <script src="https://kit.fontawesome.com/4d0e5d2f0b.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="/js/index.js"></script>

        <script>

            var type = ''
            var dialog, dialogUsun
            var currentNumer

            $(document).ready(() => {
                $('#dokumentyLink').css("font-weight", "bold");
                $('#dokumentyLink').css("text-decoration", "underline");

               $('#dokumentyTable').DataTable({
                	"language": {
                        "search": "Szukaj",
                        "emptyTable": "Brak dokumentów",
                        "lengthMenu": "Pokaż _MENU_",
                        "zeroRecords": "Nie znaleziono dokumentów",
                        "paginate": {
                            "first": "Pierwsza",
                            "last": "Ostatnia",
                            "next": "Następna",
                            "previous": "Poprzednia"
                        },
                        "info": "_START_ do _END_ z _TOTAL_ dokumentów",
                        "infoEmpty":      "",
                        "infoFiltered":   "",
				    }
				});

				$('#maszyna').change(() => {
				    $("#zuzycieTable > tr").remove();
				    var maszynaId = $('#maszyna option:selected').val();
				    $.ajax({
				        url: '/maszyna/' + maszynaId
				    })
				    .done(maszyna => {
				        $.each(maszyna.normy, (i, norma) => {
				            $('#zuzycieTable').append('\
                            <tr class="zuzycie">\
                                <td><input type="number" step="0.01" id="'+norma.id+'" class="form-control" style="width: 90px;"></input></td>\
                                <td><label>'+norma.jednostka+'</label></td>\
                            </tr>\
                            ')
                        })
				    })
				})

            })

            function edytujBtn(numer){
                $("span.ui-dialog-title").text('Edytuj dokument');
                type = 'PUT'

                var headers = {};
                headers["Content-Type"] = "application/json; charset=utf-8";

                $.ajax({
                    url: '/dokument',
                    data: {
                        'numer': numer
                    },
                    headers: headers
                })
                .done(dokument => {
                    $("#zuzycieTable > tr").remove();
                    $("#numer").prop("disabled", true);
                    $('#maszyna').prop("disabled", true);
                    $('#numer').val(dokument.numer)
                    $('#data').val(dokument.data)
                    $("#maszyna option[value="+dokument.maszyna.id.toString()+"]").attr("selected", "selected");
                    $.each(dokument.zuzycie, (i, zuzycie) => {
                        $('#zuzycieTable').append('\
                        <tr class="zuzycie">\
                            <td><input type="number" step="0.01" id="'+zuzycie.id+'" class="form-control" style="width: 90px;"></input></td>\
                            <td><label>'+zuzycie.norma.jednostka+'</label></td>\
                        </tr>\
                        ')
                        $('#'+zuzycie.id).val(zuzycie.wartosc);
                    })
                    dialog.dialog( "open" );
                })
                .fail(() => {
                    alert('Bład podczas pobrania danych dokumentu ' + numer)
                })
            }

            function usunBtn(numer){
                currentNumer = numer
                $("span.ui-dialog-title").text('Usuń dokument');
                $('#dialog-confirm-p').text('Czy na pewno usunąć dokument o numerze ' + numer + ' ?');
                dialogUsun.dialog("open");
            }

            function dodajBtn(){
                $("#zuzycieTable > tr").remove();
                $("span.ui-dialog-title").text('Dodaj dokument');
                $('#maszyna').prop("disabled", false);
                $('#numer').prop("disabled", false);
                $('#numer').val('');
                $('#data').val();
                $('#maszyna').val(-1);
                type = 'POST'
                dialog.dialog("open");
            }

            $(function() {

                dialogUsun = $("#dialog-confirm").dialog({
                    autoOpen: false,
                    resizable: false,
                    height: "auto",
                    width: 400,
                    modal: true,
                    buttons: {
                        "Tak": function() {
                            $.ajax({
                                url: '/dokument',
                                data: {
                                    numer: currentNumer
                                },
                                type: 'DELETE'
                            })
                            .done(() => {
                                window.location.reload()
                            })
                            .fail(() => {
                                alert('Problem z usunięciem dokumentu o numerze ' + currentNumer)
                            })
                        },
                        Anuluj: function() {
                            $(this).dialog( "close" );
                        }
                    }
                });

                dialog = $( "#dialog-form" ).dialog({
                    autoOpen: false,
                    height: 490,
                    width: 410,
                    modal: true,
                    buttons: {
                        "Zapisz": function(){

                             var zuzycie = []
                             $('.zuzycie').each(function(i, tr){
                                var wartosc = $(this).find('td:eq(0) > input').val()
                                var normaId = $(this).find('td:eq(0) > input').attr('ID')
                                var z = {
                                    wartosc: wartosc,
                                    norma: {
                                        id: normaId
                                    }
                                }
                                zuzycie.push(z)
                            })

                            var dokument = {
                                numer: $('#numer').val(),
                                data: $('#data').val(),
                                maszyna: {
                                    id: $('#maszyna option:selected').val()
                                },
                                zuzycie: zuzycie
                            }

                            var headers = {};
                            headers["Content-Type"] = "application/json; charset=utf-8";

                            $.ajax({
                                url: '/dokument',
                                type: type,
                                data: JSON.stringify(dokument),
                                headers: headers
                            })
                            .done(() => {
                                window.location.reload()
                            })
                            .fail(() => {
                                alert('Problem z zapisem do bazy')
                            })
                        },
                        Anuluj: function() {
                            dialog.dialog( "close" );
                        }
                    }
                });

                form = dialog.find( "form" ).on( "submit", function( event ) {
                    event.preventDefault();
                });

            });
        </script>
    </head>

</head>

    <div th:insert="menu.html :: nav"> </div>

    <body>

        <div class="container">
            <table class="table" id="dokumentyTable">
                <thead>
                <tr>
                    <th> Numer </th>
                    <th> Data </th>
                    <th> Maszyna </th>
                    <th class="text-right"> <button class="btn btn-success" onclick="dodajBtn()">dodaj <i class="fas fa-plus-circle"></i></button> </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="dokument : ${dokumenty}">
                    <td><span th:text="${dokument.numer}"> Numer </span></td>
                    <td><span th:text="${dokument.data}"> Data </span></td>
                    <td><span th:text="${dokument.maszyna.nazwa} + ' (' + ${dokument.maszyna.id} + ') '"> Maszyna </span></td>
                    <td class="text-right">
                        <button class="btn btn-info" th:onclick="edytujBtn([[${dokument.numer}]])">edytuj <i class="fas fa-edit"></i></button>
                        <button class="btn btn-danger" th:onclick="usunBtn([[${dokument.numer}]])">usuń <i class="fas fa-trash-alt"></i></button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div id="dialog-form" title="">

            <table>
                <tr>
                    <td>
                        <label for="numer">Numer</label>
                        <input type="text" name="numer" id="numer" value="" class="text ui-widget-content ui-corner-all">
                    </td>
                    <td>
                        <label for="data">Data</label>
                        <input type="date" name="data" id="data" value="" class="text ui-widget-content ui-corner-all">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="maszyna">Maszyna</label>
                        <select name="maszyna" id="maszyna" size="15">
                            <option th:each="maszyna : ${maszyny}" th:value="${maszyna.id}">
                                <span th:text="${maszyna.nazwa}"></span> (<span th:text="${maszyna.id}"></span>)
                            </option>
                        </select>
                    </td>
                    <td style="vertical-align: text-top;">
                        <br>
                        <table class="table" id="zuzycieTable"></table>
                    </td>
                </tr>
            </table>

        </div>

        <div id="dialog-confirm" title="Na pewno?">
            <p id="dialog-confirm-p">?</p>
        </div>

    </body>

</html>