<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title>Ewi</title>

    <head>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet">
        <link href="/css/index.css" rel="stylesheet">
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
        <script src="/js/index.js"></script>

        <script>
            $(document).ready(() => {
                $('#dokumentyLink').css("font-weight", "bold");
                $('#dokumentyLink').css("text-decoration", "underline");

               $('#dokumentyTable').DataTable({
                	"language": {
                        "search": "Szukaj",
                        "emptyTable": "Brak dokumentów",
                        "lengthMenu": "Pokaż _MENU_",
                        "zeroRecords": "Nie znaleziono dokumentów",
                        "paginate": {
                            "first": "Pierwsza",
                            "last": "Ostatnia",
                            "next": "Następna",
                            "previous": "Poprzednia"
                        },
                        "info": "_START_ do _END_ z _TOTAL_ dokumentów",
                        "infoEmpty":      "",
                        "infoFiltered":   "",
				    }
				});
            })
        </script>
    </head>

</head>

    <div th:insert="menu.html :: nav"> </div>

    <body>

        <div class="container">
            <table class="table" id="dokumentyTable">
                <thead>
                <tr>
                    <th> Numer </th>
                    <th> Data </th>
                    <th> Maszyna </th>
                    <th> Zużycie [litry] </th>
                    <th> Paliwo </th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${dokumenty.empty}">
                    <td colspan="2"> Brak dokumentów </td>
                </tr>
                <tr th:each="dokument : ${dokumenty}">
                    <td><span th:text="${dokument.numer}"> Numer </span></td>
                    <td><span th:text="${dokument.data}"> Data </span></td>
                    <td><span th:text="${dokument.maszyna.nazwa} + ' (' + ${dokument.maszyna.id} + ') '"> Maszyna </span></td>
                    <td><span th:text="${dokument.ilosc}"> Zużycie [litry] </span></td>
                    <td><span th:text="${dokument.maszyna.paliwo}"> Paliwo </span></td>
                </tr>
                </tbody>
            </table>
        </div>

    </body>

</html>