<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title>Ewi</title>

    <head>

        <meta th:name="_csrf" th:content="${_csrf.token}"/>
        <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>

        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet">
        <link href="css/index.css" rel="stylesheet">
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
        <script src="https://kit.fontawesome.com/4d0e5d2f0b.js" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.print.min.js"></script>

        <script th:inline="javascript"> var contextRoot = /*[[@{/}]]*/ ''; </script>

        <script src="js/index.js"></script>
        <script src="js/raport.js"></script>
    </head>

</head>

    <div th:insert="menu.html :: nav"> </div>

<body>

<div class="container-fluid" style="margin-bottom: 10px;">
    <div class="row">
        <div class="col-sm-6">
            <label for="miesiac" style="margin-left: 10%;">Miesiąc:</label>
            <input type="month" id="miesiac" min="2021-01" style="margin-left: 10%;"></div>
        <div class="col-sm-6" id="saveButtonDiv">
            <button class="btn btn-warning" onclick="saveAll()">Zapisz wszystkie stany końcowe <br> jako początkowe na kolejny miesiąc </button>
        </div>
    </div>
</div>

    <div class="container">

        <div class="alert alert-success text-center" role="alert" th:if="${(param.zapisSuccess != null AND param.zapisSuccess[0] == 'true')}">
            Zapisano
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="alert alert-danger text-center" role="alert" th:if="${(param.zapisSuccess != null AND param.zapisSuccess[0] == 'false')}">
            Problem z zapisem
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

    </div>

    <div class="container-fluid">
        <table class="table" id="raportTable" style="width:100%">
            <thead>
            <tr>
                <th> Maszyna (Numer) </th>
                <th class="text-center"> Stan początkowy <br>kilometrów <br>w miesiącu </th>
                <th class="text-center"> Suma kilometrów/oleju <br>w miesiącu </th>
                <th class="text-center"> Stan końcowy <br> kilometrów/oleju <br>w miesiącu </th>
                <th class="text-center"> Suma kilometrów <br>z przyczepą<br>w miesiącu </th>
                <th> Jednostka </th>
                <th class="text-center"> Stan pocztkowy <br>litrów w miesiącu </th>
                <th class="text-center"> Suma zużytych <br>litrów w miesiącu </th>
                <th class="text-center"> Suma zatankowanych <br>litrów w miesiącu </th>
                <th class="text-center"> Suma <br>litrów na ogrzewanie<br>/przepał<br> w miesiącu </th>
                <th class="text-center"> Stan końcowy na miesiąc </th>
                <th class="text-center"> Suma godzin w miesiącu</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

</body>

</html>