<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Ewidencja</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="/css/login.css" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>

<div class="wrapper">
    <div id="formContent">

        <div class="container">
            <br><span class="text-info"><h5>Ewidencja rozchodu paliwa</h5></span>
        </div>

        <form th:action="@{/login}" method="post">
            <input type="text" id="username" name="username" placeholder="login">
            <input type="password" id="password" name="password" placeholder="hasło">
            <input type="submit" value="Zaloguj się">
        </form>
        <div id="errors" th:if="${(param.error != null) and (param.error[0] == 'true')}">
            <label class="text-danger">Nieprawidłowy login lub hasło.</label>
        </div>

        <div id="formFooter">
            <span id="formFooterText" class="text-secondary">testowy user i pass: admin, admin</span>
        </div>

    </div>
</div>

</body>
</html>