<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<nav id="header" class="navbar">
    <div id="header-container" class="container navbar-container">
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="raportyDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-chart-pie"></i> Raporty
                    </a>
                    <div class="dropdown-menu" aria-labelledby="raportyDropdownMenuLink" style="width: 250px;">
                        <p style="margin: 10px;"><a th:href="@{/}" id="reportLink"><i class="fas fa-chart-pie"></i> Raport miesięczny</a></p>
                        <p style="margin: 10px;"><a th:href="@{/quarterlyReport}" id="quarterlyReportLink"><i class="fas fa-chart-pie"></i> Raport kwartalny</a></p>
                        <p style="margin: 10px;"><a th:href="@{/annualReport}" id="annualReportLink"><i class="fas fa-chart-pie"></i> Raport roczny (kategorie)</a></p>
                        <p style="margin: 10px;"><a th:href="@{/reportMachineKilometers}" id="reportMachineKilometersLink"> <i class="fas fa-chart-pie"></i> Raport kilometers</a></p>
                    </div>
                </li>

                <li><a th:href="@{/documents}" id="documentsLink"><i class="far fa-file-alt"></i> Dokumenty</a></li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="definitionsDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-subway"></i> Definicje
                    </a>
                    <div class="dropdown-menu" aria-labelledby="definitionsDropdownMenuLink" style="width: 200px;">
                        <p style="margin: 10px;"><a th:href="@{/machines}" id="machinesLink"><i class="fas fa-subway"></i> Maszyny</a></p>
                        <p style="margin: 10px;"><a th:href="@{/unitsView}" id="unitsLink"><i class="fa fa-balance-scale"></i> Jednostki norm</a></p>
                        <p style="margin: 10px;"><a th:href="@{/categories}" id="categoriesLink"><i class="fab fa-korvue"></i> Kategorie maszyn</a></p>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="initialStatesDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-digital-tachograph"></i> Stany początkowe
                    </a>
                    <div class="dropdown-menu" aria-labelledby="initialStatesDropdownMenuLink" style="width: 270px;">
                        <p style="margin: 10px;"><a th:href="@{/initialStatesView}" id="initialStatesLink"><i class="fas fa-gas-pump"></i> Stany początkowe paliw</a></p>
                        <p style="margin: 10px;"><a th:href="@{/kilometersView}" id="kilometersLink"><i class="fas fa-digital-tachograph"></i> Stany początkowe kilometrów</a></p>
                    </div>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="javascript: document.logoutForm.submit()"><i class="fas fa-sign-out-alt"></i> Wyloguj się</a></li>
            </ul>
            <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                <input hidden type="submit"/>
            </form>
        </div>
    </div>
</nav>

</html>