<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<nav id="header" class="navbar navbar-fixed-top">
    <div id="header-container" class="container navbar-container">
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/" id="raportLink">Raport</a></li>
                <li><a href="/dokumenty" id="dokumentyLink">Dokumenty</a></li>
                <li><a href="/maszyny" id="maszynyLink">Maszyny</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" id="logout">Wyloguj się</a></li>
            </ul>
        </div>
    </div>
</nav>

</html>